<form method="post" action="{{ path('originaltext_delete', {'id': originaltext.id}) }}"
    id="delete_product_form" class="d-inline-block"
   >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ originaltext.id) }}" />
    <button class="btn btn-primary">Delete</button>
</form>