<form method="post" action="{{ path('app_pagination_delete', {'id': pagination.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pagination.id) }}">
    <button class="btn">Delete</button>
</form>
