{% extends 'base.html.twig' %}

{% block title %}Edit Pagination{% endblock %}

{% block body %}
    <h1>Edit Pagination</h1>

    {{ include('pagination/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_pagination_index') }}">back to list</a>

    {{ include('pagination/_delete_form.html.twig') }}
{% endblock %}
